@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif !important;
  --primary-color: #26a59a;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
li,
ul,
ol,
table,
th,
td,
input,
button {
  font-family: "Montserrat", sans-serif;
}
@font-face {
  font-family: montserrat;
  src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

.montserrat {
  font-family: montserrat;
}

.button-border-hover-green:hover {
  border-color: #26a59a !important;
  color: #26a59a !important;
}

.button-full-hover-green:hover {
  border-color: #26a59a !important;
  color: #26a59a !important;
}

.input-hover-green:focus,
.input-hover-green:hover {
  border-color: #26a59a !important;
}
.sub-title-div {
  margin-bottom: 0.75rem;
  text-align: center;
  margin: 0 !important;
  margin-bottom: 10px !important;
}
.title-div {
  text-align: center;
  color: #ef5250 !important;
  margin: 0 !important;
}

.text-hover-green:hover {
  color: #26a59a !important;
}
