@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  font-family: "Circular", sans-serif;
  --primary-color: #26a59a;
}
@font-face {
  font-family: "Circular";
  src: url("path/to/circular.woff2") format("woff2"),
    url("path/to/circular.woff") format("woff");
  font-weight: 300 700; /* Điều chỉnh trọng số của font chữ tùy theo nhu cầu */
  font-style: normal;
}

.button-border-hover-green:hover {
  border-color: #26a59a !important;
  color: #26a59a !important;
}

.button-full-hover-green:hover {
  border-color: #26a59a !important;
  color: #26a59a !important;
}

.input-hover-green:focus,
.input-hover-green:hover {
  border-color: #26a59a !important;
}
.title-div {
  margin-bottom: 0.75rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  text-align: center;
}

.text-hover-green:hover {
  color: #26a59a !important;
}
