@tailwind components;
@tailwind utilities;
@tailwind base;

body {
  margin: 0;
  padding: 0;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

html {
  font-family: "IBM Plex Sans", sans-serif;
  src: url(./fonts/IBMPlexSans-Thin.ttf);
}

@font-face {
  font-family: montserrat;
  src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}
.montserrat {
  font-family: montserrat;
}
